server:
  port: ${PORT}

spring:
  datasource:
    url: jdbc:${DB_CONNECTION_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      platform: postgres

jwt:
  secret: ${JWT_SECRET}
